<div class="col-md-6 col-sm-12 masonry-portfolio-item design m-5">
    <h3 style="margin-top:50px;">{{ title }}</h3>
    <div class="hover-item">
        <img src="{{ image }}" class="img-responsive smoothie" alt="">
        <div class="overlay-item-caption smoothie">
            <h3 class="vertical-center smoothie"><a href="" title=""></a>
            </h3>
        </div>
        <div class="hover-item-caption smoothie">
            <div class="vertical-center smoothie">
                <a href="{{ fichierPDF }}" title="View"
                   class="btn btn-primary btn-white page-scroll lb-link smoothie">Zoom</a>
                <a href="{{ linkURL }}"
                   class="smoothie btn btn-primary btn-white page-scroll">View</a>
            </div>
        </div>
    </div>
</div>