<div class="flexpanel">
    <div class="viewport-wrap">
        <div class="viewport">
            <div class="widget mb50">
                <h4 class="widget-title">Mes Derniers Projets</h4>
                <div>
                    {% for datum in dataPortfolio %}
                        <div class="media">
                            <div class="pull-left">
                                <img class="widget-img" src="{{ datum.img }}" alt="">
                            </div>
                            <div class="media-body">
                                <span class="media-heading"><a href="#">{{ datum.title }}</a></span>
                            <small class="muted">le 22/22/22</small>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
            <div class="widget mb50">
                <h4 class="widget-title"><strong>Latest</strong> Articles</h4>
                <div class="tagcloud">
                    {% for tagDatum in tagData %}
                        <a href="#" class="tag-link btn btn-theme btn-xs" title="3 topics">
                            {{ tagDatum.tag }}
                        </a>
                    {% endfor %}                </div>
            </div>
            <div class="widget about-us-widget mb50">
                <h4 class="widget-title">Me Contacter</h4>
                <p>Lapalus Michel, 52 boulevard de Vanves 92320 Chatillon</p>
                <p>Tel: 0641586214</p>
                <p>Mail : mlapalus.dev@gmail.com</p>
            </div>
        </div>
    </div>
</div>