
    {% include 'fragments/_preloader.html.twig' %}
    {% include 'fragments/_nav.html.twig' %}

    <!-- Header -->
    <header id="headerwrap" class="backstretched no-overlay fullheight">
        <div class="container">
            <div class="intro-text vertical-center text-right smoothie">
                <div class="col-sm-6">
                    <div class="intro-heading wow fadeIn heading-font" data-wow-delay="0.2s">{{ surname }}</div>
                    <div class="intro-sub-heading wow fadeIn secondary-font" data-wow-delay="0.4s">Dev Web <span
                                class="rotate">PHP, Symfony, Javascript</span></div>
                    <a href="" class="btn btn-primary btn-white mt30 page-scroll" data-wow-delay="0.6s">
                        Pour en savoir plus...
                    </a>
                </div>
            </div>
        </div>
    </header>
